<template>
  <div class="list-reminder">
      <ul>
        <li v-for="reminder in list">{{ reminder.title }}</li>
      </ul>
  </div>
</template>

<script>
export default {
  name: 'list-reminder',
  props: {
    list: Array
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  margin: 40px 0 0;
  background-color: #000;
  padding: 40px;
  color: #FFF;
}
</style>
