<template>
  <div id="app">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <ListReminder :list=list_reminder />
  </div>
</template>

<script>
import axios from 'axios'
import HelloWorld from './components/HelloWorld.vue'
import ListReminder from './components/ListReminder.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    ListReminder
  },
  data() {
    return {
      list_reminder: null,
      loading: true,
      errored: false
    }
  },
  mounted () {
    // console.log('Hola', axios)
    this.loadReminders()
  },
  methods: {
    loadReminders() {
      axios
        .get('http://127.0.0.1:8000/api/reminder/?format=json')
        .then(response => {
          console.log(response)
          this.list_reminder = response.data
        })
        .catch(error => {console.log(error)})
        // .finally(() => this.loading = false)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
